@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}


body {
    color: #000;
    background-color: #DDDFE0; 
    font-family: Roboto;
    background-image: radial-gradient(
        circle at center,
        #DADCDE 0.30rem,
        transparent 0
      );
      background-size: 1rem 1rem;
      background-repeat: round;
}

#title {
    font-size: 64px;
}


a {
    color: #fff;
    text-decoration: none;
}

/* Barre de navigation */

nav {
    background-color: #2196f3;
    border-bottom: 4px solid #1769aa;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.nav-list {
    padding: 1rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-item {
    margin-right: 2rem;
}

.nav-item {
    color: #ffff;
    position: relative;
    cursor: pointer;
    text-decoration: none;
}


.nav-item::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #fff;
    transform: scaleX(0);
    transition: transform 0.2s ease;
}

.nav-item:hover::before {
    transform: scaleX(1);
}

.nav-icon {
    width: 24px;
    height: 24px;
    margin: 5px;
}
  

.intro {
    margin: 123px;
    padding: 50px;
}

section {
    margin: 123px;
}

.logo {
	position: absolute !important;
    min-width: 200px;
    max-height: 200px;
	top: 30%;
	left: 85%;
    border-radius: 100%;
	transform: translate(-50%, -50%);
	margin-left: -40px;
    transition: all 0.3s;
}

.logo:hover {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

/* Bas de page */

footer {
    font-size: 14px;
    bottom: auto;
	text-align: center;
	line-height: normal;
	padding: 10px;
    color: #747474;
}

.pb95 {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
    transition: ease-in-out 0.3s;
}

.pb95:hover {
    color: darkblue;
}

/* Phone device */

@media only screen and (max-width: 600px) { 
.logo {
	position: absolute !important;
    min-width: 128px;
    max-height: 128px;
	top: 55%;
	left: 60%;
    border-radius: 100%;
	transform: translate(-50%, -50%);
	margin-left: -40px;
    transition: all 0.3s;
}

.intro {
    margin: 50px;
    padding: 25px;
}

section {
    margin: 50px;
}
  }