@font-face {
    font-family: Selawik;
    src: url(./fonts/selawk.ttf);
    unicode-range: U+0-7F;
}

@font-face {
    font-family: Selawik;
    src: url(./fonts/selawkb.ttf) format("bold");
}


/* width */
::-webkit-scrollbar {
    width: 10px;
}


/* Handle */
::-webkit-scrollbar-thumb {
    background: lightgray;
    border-radius: 10px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
}


body {
    color: #000;
    padding: 0;
    margin: 0;
    background-image:
        linear-gradient(45deg, #d9d9d919 25%, transparent 25%, transparent 75%, #d9d9d919 75%, #d9d9d919),
        linear-gradient(45deg, #d9d9d919 25%, transparent 25%, transparent 75%, #d9d9d919 75%, #d9d9d919);
    background-size: 60px 60px;
    background-position: 0 0, 30px 30px;
    font-family: Selawik;
}

/* Effet de dégradé  */
body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#40a6ff3f, #F2F2F2);
    z-index: -1;
}


#title {
    font-size: 64px;
}


a {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

/* Barre de navigation */

nav.home {
    background-color: #006cfa;
    box-shadow: 0px 4px 20px -10px #10009e;
    background: repeating-linear-gradient(45deg,
            #0672ff 0px,
            #0672ff 40px,
            #006cfa 0px,
            #006cfa 80px);
}

nav.about {
    background-color: #111111;
    box-shadow: 0px 4px 20px -10px #00000099;
    background: repeating-linear-gradient(45deg,
            #111111 0px,
            #111111 40px,
            #020202 0px,
            #020202 80px);
}

nav.specs {
    background-color: #fa0000;
    box-shadow: 0px 4px 20px -10px #9e0000;
    background: repeating-linear-gradient(45deg,
            #ff1919 0px,
            #ff1919 40px,
            #fa0000 0px,
            #fa0000 80px);
}

.nav-list {
    padding: 1rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Effet de vague (footer) */

.custom-shape-divider-bottom-1732983400 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1732983400 svg {
    position: relative;
    display: block;
    width: calc(158% + 1.3px);
    height: 150px;
}

.custom-shape-divider-bottom-1732983400 .shape-fill {
    fill: #006CFA;
}

.nav-item {
    margin-right: 2rem;
}

.nav-item {
    color: #ffff;
    position: relative;
    cursor: pointer;
    text-decoration: none;
}

.nav-item::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #fff;
    transform: scaleX(0);
    transition: transform 0.2s ease;

}

.nav-item:hover::before {
    transform: scaleX(1);
}

.nav-item:hover {
    text-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.nav-icon {
    width: 20px;
    height: 20px;
    margin: 5px;
    margin-bottom: 5px;


}

/* Material page */
/* Section Specs */

section.specs {
    float: right;
    margin-right: 50vh;
    padding: 0px;
    align-items: flex-end;
    margin-top: 125px;
    vertical-align: top;
    display: inline-block;
}

section.acess {
    float: left;
    align-items: flex-end;
    margin-left: 50vh;
    padding: 0;
    margin-top: -300px;
    vertical-align: top;
    display: inline-block;
}

section.software {
    float: right;
    margin-right: 62vh;
    /* Augmneter = mettre à gauche */
    padding: 0;
    margin-top: 150px;
    text-align: justify;
    vertical-align: top;
    display: inline-block;
}

/* Images (Specs) */
/* ===================================================== */
/* Picture right */

#picture {
    display: flex;
    justify-content: space-around;
}


#picture .item {
    display: flex;
    flex-direction: column;
    border: none;
    margin: 20px;
    margin-top: 64px;
    text-align: center;
    color: rgba(0, 0, 0, 0.38)
}

#picture .item img {
    width: 100%;
    width: 700px;
    height: 443px;
    height: auto;
    cursor: pointer;
    transition: ease-in-out 0.3s;
}

#picture .item img:hover {
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}


/* Picture left */

#picture2 {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

#picture2 .item2 {
    display: flex;
    flex-direction: column;
    border: none;
    margin: 20px;
    margin-top: 64px;
    text-align: center;
    margin-left: 1020px;
    color: rgba(0, 0, 0, 0.38)
}

#picture2 .item2 img {
    width: 700px;
    float: right;
    height: 443px;
    height: auto;
    cursor: pointer;
    transition: ease-in-out 0.3s;
}

#picture2 .item2 img:hover {
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}


.intro {
    margin: 123px;
    padding: 50px;
}

section {
    margin: 123px;
}

/* Homepage logo */

.logo {
    position: absolute !important;
    min-width: 200px;
    max-height: 200px;
    top: 39%;
    left: 85%;
    border-radius: 100px;
    transform: translate(-50%, -50%);
    margin-left: 34px;
    transition: all 0.3s;
}

.logo:hover {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

/* Bas de page */

footer {
    font-size: 14px;
    text-align: center;
    line-height: normal;
    padding: 5px;
    color: rgba(0, 0, 0, 0.38);
}

.link {
    color: blue;
    cursor: pointer !important;
    transition: ease-in-out 0.3s;
}

.link:hover {
    color: darkblue;
    text-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}

.ytb {
    color: #ec222c;
    cursor: pointer;
    transition: ease-in-out 0.3s;
}

.ytb:hover {
    color: darkred;
}

.button {
    position: absolute;
    padding: 9px;
    background: linear-gradient(to bottom, #009dff 0%, #006cfa 100%);
    border: none;
    cursor: pointer;
    transition: all ease-in-out 0.3s;
}

.button::after {
    content: "";
}

.button:hover {
    background: linear-gradient(to bottom, #0067a7 0%, #00367e 100%);
    color: #F2F2F2;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}


.social-links {
    margin: 0px;
    padding: 5px;
}


.social {
    float: right;
}

.socialIcon {
    columns: 10px;
}


/* Animation sablier */

.container {
    width: 100%;
    height: 20vh;
    position: relative;
}

.pic {
    position: absolute;
    align-items: center;
    justify-content: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(3200px / 26);
    height: 128px;
    background: url(images/anim/anim_wip.png);
    animation: sprite 5s steps(26) infinite;
}

@keyframes sprite {
    from {
        background-position: 0;
    }

    to {
        background-position: 3200px;
    }
}

/* Phone device */

@media only screen and (max-width: 600px) {
    .logo {
        visibility: hidden;
    }

    footer {
        font-size: 15px;
        text-align: center;
        line-height: normal;
        padding: 15px;
        color: rgba(0, 0, 0, 0.38);
    }

    #title {
        font-size: 54px;
        text-align: center;
        align-items: center;
        justify-content: center;
    }

    .emj1 {
        margin-left: 5px;
        visibility: hidden;
        margin-bottom: -5px;
        height: 48px;
        width: 48px;
    }

    .intro {
        margin: 50px;
        padding: 25px;
    }

    section {
        margin: 50px;
    }

    section.specs {
        float: right;
        margin-right: 10vh;
    }

    section.acess {
        float: right;
        margin-right: 10vh;
    }

    section.software {
        float: right;
        margin-right: 10vh;
    }

    #picture {
        visibility: hidden;
    }

    #picture2 {
        visibility: hidden;
    }
}